<% for(var i = 0; i < dinos.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><img src="<%= dinos[i].picture %>" alt="foto" height="50px"></td>
        <td><%= dinos[i].name %></td>
        <td><%= dinos[i].alias %></td>
        <td><%= dinos[i].gender %></td>
        <td>
            <a href="/update-user?id=<%= dinos[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= dinos[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
<% } %>